---
import Layout from "../layouts/Layout.astro";
---

<Layout title='Welcome to Astro.'>
  <main>
    <h1>Astro</h1>
    <p>Velkommen til min Astroside!</p>
  </main>
</Layout>

<style>
  main {
    margin-top: 4rem;
  }
</style>
