---
interface Props {
  num: number;
}

const { num } = Astro.props;
---

<div>{num}</div>

<style>
  div {
    padding: 2rem;
    background-color: gray;
    max-width: fit-content;
    border-radius: 1rem;
  }
</style>
